{
    "plugins": [
        "@babel/plugin-syntax-jsx",
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-transform-react-display-name",
        "styled-components",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
